In [ ]:
for i in range(1,11):
  print(f" 5 x {i} = {i * 5}")

In [ ]:
for i in range(1,11):
  print(i)
if i == 10:
   print("Feliz Ano novo")

In [ ]:
for i in range(1,101):
  print(f"A soma de {i} = {i + i}")

In [ ]:
numeros = [3 + 7 + 2 + 9 + 5]
numbers = [3, 7, 2, 9, 5]
for i in numeros:
  print(numbers, i)

In [ ]:
ola = "Olá mundo"
for m in range(5):
  print(ola)

In [ ]:
for i in range(1,51):
  print(i)

In [ ]:
for i in range (1,21,2):
  print(i)

In [ ]:
lista = [1, 2, 3, 4, 5]
for i in lista:
  print(f"O número {i} multiplicado por 2 é {i * 2}")

In [ ]:
for palavra in input("Digite uma palavra qualquer: ").upper():
  print(palavra)

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
for i in range(10,0,-1):
  print(i)

In [ ]:
soma = 0
for i in range(1,11):
  soma = soma + i
  print(soma)

In [ ]:
lista = []
for i in range(5):
  o = int(input("Digite um número: "))
  lista.append(o)
print("Os números digitados foram")
for o in lista:
    print(o)

Digite um número: 44
Digite um número: 55
Digite um número: 33
Digite um número: 22
Digite um número: 11
Os números digitados foram
44
55
33
22
11

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in lista:
  print(f"O número {i} multiplicado por 7 é {i * 7}")

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
palavra = input("Digite a palavra: ").upper()
vogais = "AEIOU"
qtd = 0
for letra in palavra:
  if letra in vogais:
    qtd += 1
print(f"A palavra {palavra} tem {qtd} vogais: ")

Digite a palavra: tito
A palavra TITO tem 2 vogais: